body {
  font-family: Arial, sans-serif;
  header {
    background-color: rgb(0, 255, 213);
    padding: 20px;
    text-align: center;
    h1 {
      color: white;
    }
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
